name: Deployment Pipeline

on:
  workflow_dispatch:

jobs:
  sbom:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Install Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Install Grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Generate SBOM
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
          syft . -o cyclonedx-json > sbom.json

      - name: Scan SBOM
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
          grype sbom:sbom.json -o json > scan.json

      - name: Upload SBOM and Scan Results as Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Reports
          path: |
            sbom.json
            scan.json