name: Deployment Pipeline

on:
  workflow_dispatch:
  pull_request:

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      
      - name: .NET Build
        run: dotnet build GasPricing.sln -o buildOutput

      - name: Install Syft & Grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Generate SBOM
        run: |
          syft buildOutput -o cyclonedx-json > sbom.json

      - name: Scan SBOM
        uses: anchore/scan-action@v6
        with: 
          sbom: sbom.json
          fail-build: true
          severity-cutoff: medium

      - name: Upload SBOM as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: SBOM-Results
          path: |
            sbom.json

  sonarqube:
    name: Analyze with SonarQube
    needs: sbom
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarQube scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarQube scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: bash
        run: |
          mkdir -p "${{ runner.temp }}/scanner"
          dotnet tool update dotnet-sonarscanner --tool-path "${{ runner.temp }}/scanner"

      - name: Install dotnet-coverage
        shell: bash
        run: |
          dotnet tool update dotnet-coverage --global
          echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Build and analyze
        shell: bash
        run: |
          "${{ runner.temp }}/scanner/dotnet-sonarscanner" begin \
            /k:"Gas-Pricing" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.host.url="${{ secrets.SONAR_HOST_URL }}" \
            /d:sonar.cs.vscoveragexml.reportsPaths="coverage.xml" \
            /d:sonar.qualitygate.wait=true

          dotnet build --no-incremental

          dotnet-coverage collect "dotnet test" \
            -f xml \
            -o "coverage.xml"

          "${{ runner.temp }}/scanner/dotnet-sonarscanner" end \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
