name: Deployment Pipeline

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - feat-dast-and-jwt
jobs:

  dast:
    name: Run DAST
    needs: sonarqube
    uses: ./.github/workflows/dast.yml
    with:
      jwt_token: ${{ secrets.TEST_JWT_TOKEN }}
