name: Deployment Pipeline

on:
  workflow_dispatch:
  pull_request:

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      
      - name: .NET Build
        run: dotnet build GasPricing.sln -o buildOutput

      - name: Install Syft & Grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Generate SBOM
        run: |
          syft buildOutput -o cyclonedx-json > sbom.json

      - name: Scan SBOM
        uses: anchore/scan-action@v6
        with: 
          sbom: sbom.json
          fail-build: true
          severity-cutoff: medium

      - name: Upload SBOM as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: SBOM-Results
          path: |
            sbom.json